.about-bg {
  background: url("../../../../public/about.png");
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: left;
}

@media screen and (max-width: 740px) {
  .about-bg {
    padding-top: 30px;
    background-size: cover;
    background-position: left;
  }
}
